:root {
  --sidebar-color: #130a68;
  --text-color: white;
  --card-color: white;
  --text-color-hover: rgb(230, 224, 224);
  --main-container: #ebeff3;
  --navbar-color: white;

  --trans-03: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.4s ease;

  --sidebar-width-small: 5%;
  --main-container-width: 90%;
}

.db-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
}

/* ------------- main container --------------- */

.db-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: var(--main-container);
}

/* ---------------main content -------------------- */
.db-main-content {
  margin-left: 2%;
  width: 95%;
  min-height: 1000px;
}

/* --------------------- content ----------------------- */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* -------------- cards container ----------------- */
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  width: 96%;
  height: 200px;
  /* border: 2px solid white; */
}

/* --------------------- graph container ----------------------- */
.graph-container {
  width: 96%;
  height: 600px;
  background-color: white;
  border-radius: 8px;
}

/* --------------------- stats and task container ----------------------- */
.traffic-performance-container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-bottom: 2%;
  width: 96%;
  height: 500px;
}

.traffic-analysis {
  display: flex;
  flex-direction: column;
  width: 36%;
  height: 100%;
  padding: 24px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: white;
  border-radius: 12px 12px 12px 12px;
}

.priority-container {
  margin-left: 16px;
  width: 63%;
  height: 100%;
  background-color: white;
  border-radius: 12px 12px 12px 12px;
}
