:root {
  --sidebar-color: #130a68;
  --text-color: white;
  --text-color-hover: rgb(230, 224, 224);
  --main-container: #ebeff3;
  --navbar-color: white;
  --ticket-submit-btn-color: #1a3c57;
  --ticket-cancel-btn-color: #d7d9db;

  --trans-03: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.4s ease;

  --sidebar-width-normal: 10%;
  --sidebar-width-small: 4%;
  --main-container-width: 90%;
}

.agents-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  min-height: 900px;
  /* border: 2px solid black; */
}

/* ------------- main container --------------- */

.agents-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: var(--main-container);
}

.agents-container {
  display: flex;
  flex-direction: row;
  width: 96vw;
  height: 96%;
}

/* --------------- agents section -------------------- */
.agents-section {
  width: 80%;
  height: 100%;
  padding: 24px;
  background-color: #ffffff;
  border-right: 1px solid rgb(212, 212, 212);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.agents-section-title {
  width: 70%;
  height: 50px;
}

#agents-section-title {
  color: #1a3c57;
}

.agents-table-container {
  width: 96%;
  height: 90%;
  padding: 50px;
}

.agents-table-header {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 52px;
  background-color: #dbdedf;
}

.table-header-col {
  width: 25%;
  height: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: 400;
}

.table-agents-col {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
}

.agents-table-row {
  display: flex;
  width: 90%;
  height: 60px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.agent-table-icon {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #1a3c57;
}

.agent-name-email {
  width: 80%;
  height: 48px;
  margin-left: 4%;
}

#agent-email {
  font-size: 0.8rem;
  font-weight: 200;
  color: #202020;
}

#agent-role {
  font-weight: 200;
}

#agent-last-seen {
  font-weight: 200;
}

/* -------------------- agents form ------------------------- */
.new-agent-form-container {
  width: 20%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.new-agent-header {
  padding: 24px;
  color: #1a3c57;
}

.new-agent-form {
  padding: 52px;
}

#agent-type {
  margin-top: 2%;
  width: 92%;
}

#agent-form-label {
  margin-top: 4%;
}

#agent-text-input {
  margin-top: 2%;
  width: 92%;
}

#create-agent-btn {
  width: 92%;
  height: 36px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #1a3c57;
}

.agent-delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color:#12344D;
  background-color: #DEDEE0;
  cursor: pointer;
  border-radius: 4px;
}

.agent-delete-btn:hover {
  filter: brightness(104%);
}
