:root {
  --sidebar-color: #130a68;
  --text-color: white;
  --text-color-hover: rgb(230, 224, 224);
  --main-container: #ebeff3;
  --navbar-color: white;

  --trans-03: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.4s ease;

  --sidebar-width-normal: 10%;
  --sidebar-width-small: 4%;
  --main-container-width: 90%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid black; */
}

/* ------------- main container --------------- */

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: var(--main-container);
}

/* ---------------main content -------------------- */
.main-content {
  margin-left: 1%;
  width: 96%;
  height: 100%;
}

/* --------------------- ticket content----------------------- */
.ticket-content {
  display: flex;
  flex-direction: row;
  width: 105%;
  height: 100%;
  margin-left: -2%;
}

.ticket-details-container {
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.ticket-details-status {
  margin-left: 4%;
  width: 100%;
  height: 50px;
  /* border: 2px solid black; */
}

.ticket-page-tag-open {
  width: fit-content;
  height: fit-content;
  margin: 2% 5%;
  padding: 4px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
}
.ticket-page-tag-pending {
  width: fit-content;
  height: fit-content;
  margin: 2% 5%;
  padding: 4px;
  background-color: #dc3545;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
}
.ticket-page-tag-resolved {
  width: fit-content;
  height: fit-content;
  margin: 2% 5%;
  padding: 4px;
  background-color: #ffc107;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
}
.ticket-page-tag-closed {
  width: fit-content;
  height: fit-content;
  margin: 2% 5%;
  padding: 4px;
  background-color: #28a745;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
}

.ticket-details {
  width: 100%;
  height: 400px;
  margin-left: 4%;
}

.ticket-header {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  width: 100%;
  height: 80px;
}

.ticket-header-icon {
  margin-left: -2%;
  font-size: 2rem;
}

.ticket-header-subject-created-at {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 96%;
  margin-left: 3%;
}

.ticket-header-subject {
  font-size: 1.2rem;
  font-weight: 700;
}

.ticket-content-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80%;
}

.ticket-content-header-container {
  display: flex;
  flex-direction: row;
}

.ticket-content-header {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.reported-via {
  margin-left: 2%;
}

.ticket-content-username {
  display: flex;
  flex-direction: row;
  width: 300px;
}

.ticket-username{
  font-size: 1rem;
  font-weight: 600;
  color: #0d6fd8;
  text-transform: capitalize;
}

.ticket-content-user-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  background-color: rgb(118, 84, 196);
}

.ticket-user-icon-char{
  display: inline-block;
  align-items: end;
  color: transparent;
  font-size: 2rem;
  text-transform: capitalize;
}

.ticket-user-icon-char::first-letter{
  color: white;
  font-size: 2rem;
  text-transform: capitalize;
}




.ticket-content-description {
  margin-left: 8%;
  padding: 12px;
  width: 70%;
  height: 76%;
}

/* ------------------- ticket update form --------------------- */

.update-ticket-container {
  width: 16%;
  height: 100%;
  padding: 24px;
  background-color: #ffffff;
}

.update-form-title {
  font-size: 1rem;
  font-weight: 500;
}

#update-form-tags-input {
  margin-top: 4%;
  width: 250px;
}

.update-form {
  margin-top: 16%;
}

#update-select-label {
  margin-top: 8%;
}

.update-form-select {
  margin-top: 2%;
  width: 250px;
  height: 36px;
}

#update-form-btn {
  width: 250px;
  height: 32px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: #8fa1af;
  border: none;
  border-radius: 4px;
}

/* ---------------- contact details -------------------------- */

.contact-details-container {
  display: flex;
  justify-content: center;
  width: 14%;
  height: 100%;
  background-color: #ebeff3;
}

.contact-details {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  border-radius: 12px 12px 0px 0px;
  width: 92%;
  height: 300px;
}

.contact-details-header {
  width: 100%;
  height: 50px;
  padding: 8px;
  color: rgb(49, 49, 49);
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 8px 8px 0px 0px;
  background-color: #dad8d8;
}

.contact-details-content {
  width: 100%;
  height: 90%;
  padding: 12px;
  border-radius: 0px 0px 8px 8px;
  background-color: #ffffff;
}

.ticket-user-img-name {
  display: flex;
  flex-direction: row;
}

.ticket-user-img {
  width: 40px;
  height: 40px;
  margin-right: 4%;
  border-radius: 4px;
  background-color: rgb(118, 84, 196);
}

.ticket-user-name{
  display: flex;
  align-items: center;
}

.ticket-user-email, .ticket-user-phone{
  margin-top: 8%;
}

.ticket-user-email-label{
  color: #919090;
}

.ticket-user-phone-label{
  color: #919090;
}

.ticket-user-email-text{
  font-weight: 500;
}

.ticket-user-phone-text{
  font-weight: 500;
}

/* ----------------------- actionbar btns ------------------------ */
.ticket-page-actionbar-btns-container {
  width: 80%;
  height: 90%;
  border: 2px solid black;
}
