.navbar{
    width: 100%;
    height: 100%;
    background-color: white;
}

.navbar-container{
    margin-left: 10%;
    width: 80%;
    height: 96%;
    background-color: white;
    border: 2px solid black;
}

#title-text{
    font-size: 2rem;
    font-weight: 600;
}

#navbar-icons{
    margin-right: 4%;
}